---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

interface ReleasesResponse {
  version: string,
  notes: string,
  pub_date: string,
  platforms: {
    "darwin-x86_64": {
      signature: string,
      url: string
    },
    "linux-x86_64": {
      signature: string,
      url: string
    },
    "windows-x86_64": {
      signature: string,
      url: string
    }
  }
}

const releasesResponse = await fetch("https://gist.github.com/nirtamir2/f9fd2e3e5d683bad411a5cf4d94dcf7c/raw/tzeva-adom.releases.json");
const releases: ReleasesResponse = await releasesResponse.json();
---


<Layout title="צבע אדום">
  <main dir="rtl">
    <h1><span class="text-gradient">צבע אדום</span></h1>
    <p class="instructions">
      אפליקציה שמאפשרת לראות התרעות של <strong>צבע אדום</strong> במחשב כמו בטלוויזיה.<br />
    </p>
    <p>
      לא חייב להיות כל היום מול מסך הטלוויזיה...
    </p>
    <p> הצגת התרעות צבע אדום כמו בטלוויזיה - גם על מסך המחשב שלך!
    </p>
    <div class="demo-image">
      <img src="/assets/demo-mock-data.gif" height="188" width="222" alt="דמו של האפליקציה" />
    </div>
    <h3>הורדות</h3>
    <ul role="list" class="link-card-grid">

      {releases.platforms != null ?
        <>
          <Card download iconName="simple-icons:windows" title="Windows"
                href={releases.platforms["windows-x86_64"].url} />
          <Card download iconName="simple-icons:apple" title="macOS" href={releases.platforms["darwin-x86_64"].url} />
          <Card download iconName="simple-icons:linux" title="Linux" href={releases.platforms["linux-x86_64"].url} />
        </> : null}
      <Card iconName="ic:sharp-cloud-download" title="פלטפורמות נוספות"
            href="https://github.com/nirtamir2/tzeva-adom/releases/latest" />
      <Card iconName="simple-icons:github" title="קוד המקור בGitHub" href="https://github.com/nirtamir2/tzeva-adom" />
    </ul>

    <h3>פרטים נוספים</h3>

    <p>זאת <strong>אינה</strong> אפליקציה רשמית.
    </p>
    <p>
      היא עובדת על ידי כך שהיא פונה לאתר של פיקוד העורף כל שנייה - כדי לדעת האם
      - יש התרעות של צבע אדום
      .ומציגה אותם בהתאם
    </p>
    <p>.כרגע האפליקציה רק מציגה את ההתראות בזמן אמת, בלי להשמיע צליל</p>

  </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    .demo-image {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }

    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }

    .instructions strong {
        color: rgb(var(--accent-light));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }

    p {
        margin: 0;
        text-wrap: balance;
    }
</style>
