.app {
  z-index: var(--max-z-index);
  position: fixed;
  top: var(--gutter16);
  right: var(--gutter16);
  font-family: sans-serif;
}

.container {
  width: 200px;
  direction: rtl;
  color: var(--text-white);
}

.header {
  width: 100%;
  margin-bottom: var(--gutter8);

  display: flex;
  gap: var(--gutter8);
  align-items: start;

  background-color: var(--blue);
  border-radius: 0 var(--border-radius-round) var(--border-radius-round) 0;
}

.titleContainer {
  padding-left: var(--gutter16);
  margin: 0;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-wrap: avoid;

  font-size: var(--text-size);
  font-weight: 500;
  letter-spacing: -0.5px;
  transform: scaleY(1.25);
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-round);
  border: 2px solid var(--white);
  background-color: var(--white);
}

.list {
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.listItemText {
  font-weight: bold;
  font-size: var(--text-size);
  text-shadow: 1px 1px var(--black);
  padding: var(--gutter4);
}

.listItem {
  margin: 0;

  list-style: none;

  overflow: hidden;
  white-space: nowrap;

  border: 1px solid var(--orange1);
  /*background: url("./assets/wave.svg") var(--orange2);*/
  /*background-size: cover;*/
  background: linear-gradient(
    to bottom,
    var(--orange2) 50%,
    var(--orange1) 50%,
    var(--orange1) 100%
  );
}

.emptyStateText {
  padding: 0 var(--gutter4);
  font-size: var(--text-size);
  font-weight: bold;
  color: var(--white);
}
