:root {
  --white: #ffffff;
  --black: #000000;
  --orange1: #f67100;
  --orange2: #f79b00;
  --orange-border: #f67100;
  --blue: #067acf;

  --text-white: var(--white);

  --border-radius-round: 100rem;

  --text-size: 16px;

  --gutter1: 1px;
  --gutter4: 4px;
  --gutter8: 8px;
  --gutter16: 16px;

  --max-z-index: 100000;
}
